{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<!-- timeline js-->
<link rel="stylesheet" type="text/css" href="../css/timeline.css">
<script src="/js/timeline-min.js"></script>

<!-- function js-->
<script src="/js/index.js"></script>

<div class="wrapper_bg">
<div class="content_container">
    <div class="running_news">
    <!-- icon title -->
    <div class="realtime_news_container">
        <div class="realtimeImg_container">
            <img src="image/icon-realtime.png" alt="">
            <div class="text">即時新聞</div>
        </div>
    </div>

    <div class="realtime_content_container">
        <div class="realtime_content">
          <marquee onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll">
            
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805959" style="color: #5F5F5F; font-size: 16px;">主張兩岸要更密切交流 柯文哲：台灣要大膽西進</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805958" style="color: #5F5F5F; font-size: 16px;">主軸定調「堅持改革、看好台灣」。民進黨全代會 蔡將回應修憲、新黨綱議題。</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805957" style="color: #5F5F5F; font-size: 16px;">上海與廈門的雙城記 星期評論</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805956" style="color: #5F5F5F; font-size: 16px;">大直精華地蓋公宅 上百居民反對</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805955" style="color: #5F5F5F; font-size: 16px;">世大運。選手村轉社宅 賴清德：加速時程。視察表示使用執照應分層分批取得 蔡英文說8年20萬戶目標 他對前4年8萬戶有信心。</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805954" style="color: #5F5F5F; font-size: 16px;">李登輝：台灣已實質獨立 神學式爭論沒意義 總統放任統獨對立 不負責任</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805953" style="color: #5F5F5F; font-size: 16px;">賴揆首談陳嘉昌 盼開始合作 邱豐光遭換 柯P再批很粗魯</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805952" style="color: #5F5F5F; font-size: 16px;">賴揆：請柯市長與新局長合作 做好首都治安</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805951" style="color: #5F5F5F; font-size: 16px;">柯文哲：兩岸根本是不同國家</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <span class="date">106-09-24&nbsp;&nbsp;</span>
                <span class="title"><a href="/public/news/detail?id=805950" style="color: #5F5F5F; font-size: 16px;">民進黨代表提案 要求自提北市長候選人</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </marquee>
        </div>
    </div>
  </div>
</div>

     
  <div class="concilor_cards_container">
      <div class="tab_container">
          <div class="tabmenu_list">
            <div class="tabmenu_tab tab_active"><i class="fa fa-user" aria-hidden="true"></i> 議員個人新聞</div>
            <div class="tabmenu_tab"><i class="fa fa-file-text-o" aria-hidden="true"></i> 第六選區(文山區、大安區)新聞</div>
          </div>
          <!-- table list -->
          <div class="tab_content_container">
            <div class="news_list" style="border-bottom: 3px solid #eee">
                <div class="col-a">日期</div>
                <div class="col-c">標題 </div>
                <div class="col-a">媒體來源</div>
                <div class="col-b">版次</div>
                <div class="clear"></div>
            </div>

            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
                <div class="col-a">自由時報</div>
                <div class="col-b">A13 北市焦點</div>
                <div class="clear"></div>
              </div>
            </a>
            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
                <div class="col-a">自由時報</div>
                <div class="col-b">A13 北市焦點</div>
                <div class="clear"></div>
              </div>
            </a>
            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">柯今施政報告 綠批內容 藍嗆杯葛。民進黨團：留校察看 暫停柯拜會 國民黨團：百花齊放 質詢聚焦公宅 王鴻薇：雙城論壇講稿有沒有送國安會？。</div>
                <div class="col-a">聯合報</div>
                <div class="col-b">AB2 北市宜花要聞</div>
                <div class="clear"></div>
              </div>
            </a>
            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
                <div class="col-a">自由時報</div>
                <div class="col-b">A13 北市焦點</div>
                <div class="clear"></div>
              </div>
            </a>
            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
                <div class="col-a">自由時報</div>
                <div class="col-b">A13 北市焦點</div>
                <div class="clear"></div>
              </div>
            </a>
            <a href="#">
              <div class="news_list">
                <div class="col-a">06-09-19</div>
                <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
                <div class="col-a">自由時報</div>
                <div class="col-b">A13 北市焦點</div>
                <div class="clear"></div>
              </div>
            </a>

          <a href="" class="showmore">顯示更多</a>

          </div>

      </div>
      <div class="tab_container">
          <div class="tabmenu_list">
            <div class="tabmenu_tab tab_active"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 議員新聞見報率統計</div>
            <div class="tabmenu_tab"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 議員新聞稿見報率統計</div>
          </div>


          <div class="tab_content_container"></div>

      </div>
  </div>



  <div class="wide_tab_container">
    
    <div class="wide_container">
      <div class="wide_tab_list">
          <div class="wide_tab tab_active"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> 重點新聞</div>
          <div class="wide_tab"><i class="fa fa-microphone" aria-hidden="true"></i> 熱門新聞</div>
          <div class="wide_tab"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 平面報紙</div>
          <div class="wide_tab"><i class="fa fa-globe" aria-hidden="true"></i> 網路新聞</div>
          <div class="wide_tab"><i class="fa fa-television" aria-hidden="true"></i> 電視新聞</div>
      </div>
      <div class="wide_content_container">
        <div class="news_list" style="border-bottom: 3px solid #eee">
            <div class="col-a">日期</div>
            <div class="col-c">標題 </div>
            <div class="col-a">媒體來源</div>
            <div class="col-b">版次</div>
            <div class="clear"></div>
        </div>
        <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>

        <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>

        <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>

        <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>

        <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>        
          <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>          
          <a href="#">
            <div class="news_list">
              <div class="col-a">06-09-19</div>
              <div class="col-c">召委選舉 柯遊說綠落空 財建、教育藍主導召委選舉 柯遊說綠落空 財建、教育藍主導</div>
              <div class="col-a">自由時報</div>
              <div class="col-b">A13 北市焦點</div>
              <div class="clear"></div>
            </div>
          </a>

           <a href="" class="showmore">顯示更多</a>
      </div>
    </div>

  </div>

<div class="focus_topic_wrapper">
  <div class="focus_topic">
      <div class="focus_top">
        <div class="f-title"><i class="fa fa-list-alt" aria-hidden="true"></i> 焦點話題</div>
        <div class="focus_topic_tab_list">
            <div class="focus_topic_tab tab_active"> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> 世界大學運動會</div>
            <div class="focus_topic_tab"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> 雙城論壇</div>
            <div class="focus_topic_tab"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> 年金改革</div>
            <a href="" class="show_more"><i class="fa fa-plus-circle" aria-hidden="true"></i> 顯示更多</a>
        </div>
      </div>

      <div class="focus_topic_contnet"></div>

  </div>
</div>



  <div class="news_graphic">

      <div class="news_graphic_title">
         <div class="news_graphic_tab"><i class="fa fa-calendar" aria-hidden="true"></i> 一周新聞關聯圖</div>
         <div class="news_graphic_tab"><i class="fa fa-clock-o" aria-hidden="true"></i> 每日新聞量</div>
         <div class="news_graphic_tab"><i class="fa fa-bar-chart" aria-hidden="true"></i> 各媒體來源分佈</div>
         <div class="news_graphic_tab"><i class="fa fa-pie-chart" aria-hidden="true"></i> 新聞類型統計圖</div>
    


      </div>
      
      <div class="news_graphic_content"></div>


  </div>








</div>












{% endblock %}