*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

@media (min-width: 0) and (max-width: 890px) {
  .index_container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/container_bg.jpg) #0a93a1;
    background-size: cover;
    height: 75vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container:after {
    content: " ";
    display: block;
    clear: both; }
  .index_container h1 {
    color: #FFF;
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 3px; }
  .index_container .input_wrapper {
    width: 95%;
    background: rgba(255, 255, 255, 0.5);
    padding: 14px;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container .input_wrapper input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    color: #222; }
  .index_container .input_wrapper ::-webkit-input-placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper :-ms-input-placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper ::placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper .submit {
    display: block;
    width: 50px;
    height: 40px;
    background: #027890;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container .input_wrapper .submit i {
    color: #FFF;
    font-size: 20px; } }

@media (min-width: 891px) {
  .index_container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/container_bg.jpg) #0a93a1;
    background-size: cover;
    height: 75vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container:after {
    content: " ";
    display: block;
    clear: both; }
  .index_container h1 {
    color: #FFF;
    font-size: 80px;
    line-height: 1.4;
    margin-bottom: 3px; }
  .index_container .input_wrapper {
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
    padding: 14px;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container .input_wrapper input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #222; }
  .index_container .input_wrapper ::-webkit-input-placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper :-ms-input-placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper ::placeholder {
    color: #c0c0c0; }
  .index_container .input_wrapper .submit {
    display: block;
    width: 50px;
    height: 50px;
    background: #027890;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_container .input_wrapper .submit i {
    color: #FFF;
    font-size: 30px; } }

@media (min-width: 0) and (max-width: 890px) {
  .pages {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #2a6698;
    color: #FFF; } }

@media (min-width: 891px) {
  .pages {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #2a6698;
    color: #FFF; } }

.mainblue {
  background: #2a6698;
  color: #FFF; }

body {
  background: #FFF;
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.5; }

a {
  color: #555; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

@media (min-width: 0) and (max-width: 890px) {
  .header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .header:after {
    content: " ";
    display: block;
    clear: both; }
  .header .upper_header {
    height: 40px; }
  .header .upper_header .menu_list .upper_date {
    font-size: 12px; } }

@media (min-width: 891px) {
  .header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .header:after {
    content: " ";
    display: block;
    clear: both; }
  .header .upper_header {
    height: 35px; }
  .header .upper_header .menu_list {
    padding-top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  .header .upper_header .menu_list .upper_date {
    font-size: 13px;
    margin-left: 20px; }
  .header .upper_header .menu_list .topmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .upper_header .menu_list .topmenu ul li a {
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-right: 10px; }
  .header .upper_header .menu_list .topmenu ul li a::after {
    content: '|';
    margin-left: 10px;
    color: #fff; }
  .header .header_logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    height: 110px; }
  .header .header_logo img {
    display: block;
    width: 130px; }
  .header .header_logo .title {
    margin-top: 20px;
    margin-left: 20px;
    color: #5F5F5F;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 500; }
  .header .searchbar_container .searchbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
  .header .searchbar_container .searchbar .title {
    font-size: 21px;
    letter-spacing: 0px;
    background-clip: text;
    text-fill-color: transparent; }
  .header .searchbar_container .searchbar .inputbar {
    height: 45px;
    margin-left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .searchbar_container .searchbar .inputbar input {
    border: 1px #bfbfbf solid;
    height: 40px;
    width: 500px;
    padding: 10px;
    font-size: 14px;
    color: #888;
    letter-spacing: 0px; }
  .header .searchbar_container .searchbar .submit_btn {
    height: 40px;
    margin-left: 3px; }
  .header .searchbar_container .searchbar .submit_btn .submit {
    display: block;
    background: #769dd2;
    width: 45px;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    border-radius: 0 3px 3px 0; }
  .header .searchbar_container .searchbar .submit_btn .submit i {
    font-size: 20px; }
  .header .searchbar_container .searchbar .submit_btn .submit:hover {
    -webkit-text-decoration-line: none;
    text-decoration-line: none; }
  .header .searchbar_container .hotwords {
    margin-bottom: 18px; }
  .header .searchbar_container .hotwords p {
    font-size: 13px;
    letter-spacing: 0px;
    margin-left: 5px; } }

.menu_wrapper {
  background-color: #6169cf;
  background-image: linear-gradient(to right, #6169cf 0%, #81b3d4 100%);
  height: 50px; }

@media (min-width: 0) and (max-width: 890px) {
  .menu_container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .menu_container:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .menu_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .menu_container:after {
    content: " ";
    display: block;
    clear: both; }
  .menu_container ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu_container ul li a {
    display: block;
    font-size: 18px;
    color: #FFF;
    margin: 0 10px;
    padding: 0 10px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s; }
  .menu_container ul li a:hover {
    background: #3a4267;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    transform: scale(1.05); } }
